<!DOCTYPE html>
<html>
    <head>
        <title>for</title>
        <meta charset="utf-8">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Exemplo de FOR no EJS</h1>
        
        <% for (let i = 0; i < qtde; i++) { %>
        
            <div> <%= i+1 %> </div>

        <% } %>

    </body>
</html>