<!DOCTYPE html>
<html>
    <head>
        <title>Resposta usando template EJS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Resposta Usuário</h1>
        <p>resposta <%= resposta %> </p>
        

    </body>
</html>